/****
forms.css -- imports other files
****/
.ev-text-upload {
  height: 90%;
}

.ev-drop-zone {
  height: 60%;
}

.ev-text-upload > h3 {
  text-align: center;
  font-size: 1.5em;
}

.ev-text-upload .submit {
  margin: -2.5em auto;
  position: relative;
  z-index: 1;
  display: block;
}

.ev-file-drop {
  height: 100%;
  width:100%;
  border: 1px dashed var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: #777;
}

.ev-url-input,
.ev-title-input {
  display: block;
  padding: 6px 3px;
  margin: 20px 0px;
  width: 100%;
  border: 1px dashed var(--primary-color-light);
  font-size: 1.3em;
  text-align: center;
}

.ev-title-input:focus::placeholder {
  visibility: hidden;
}

.ev-file-drop:hover,
.ev-url-input:hover,
.ev-title-input:hover {
  background-color: var(--secondary-color-white);
}

.ev-file-drop:hover {
  cursor: pointer;
}

.ev-text-upload-status {
  margin: 10px 0;
}

.ev-text-upload .tox-tinymce {
  display: none !important;
}
