/****
forms.css -- imports other files
****/
.ev-text-upload {
  height: 90%;
}

.ev-drop-zone {
  height: 60%;
}

.ev-text-upload > h3 {
  text-align: center;
  font-size: 1.5em;
}

.ev-text-upload .submit {
  margin: -2.5em auto;
  position: relative;
  z-index: 1;
  display: block;
}

.ev-file-drop {
  height: 100%;
  width:100%;
  border: 1px dashed var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: #777;
}

.ev-url-input,
.ev-title-input {
  display: block;
  padding: 6px 3px;
  margin: 20px 0px;
  width: 100%;
  border: 1px dashed var(--primary-color-light);
  font-size: 1.3em;
  text-align: center;
}

.ev-title-input:focus::placeholder {
  visibility: hidden;
}

.ev-file-drop:hover,
.ev-url-input:hover,
.ev-title-input:hover {
  background-color: var(--secondary-color-white);
}

.ev-file-drop:hover {
  cursor: pointer;
}

.ev-text-upload-status {
  margin: 10px 0;
}

.ev-text-upload .tox-tinymce {
  display: none !important;
}

.ev-edit-title-input {
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  width: 100%;
  /* border: 1px solid transparent;*/
  padding: 1px;
}

.ev-edit-title-input:hover,
.ev-edit-title-input:active {
  outline: 1px dashed var(--primary-color-dark)
}

.ev-edit-title-input:focus {
  color: var(--primary-color-dark);
  outline: 1px solid var(--primary-color);
  box-shadow: inset 0 0 5px rgba(var(--raw-rgb-primary-color), 0.3);
}

.ev-heading-input-wrapper:first-child {
  float: left;
}

.ev-heading-input-wrapper + .ev-heading-input-wrapper {
  overflow: hidden;
  padding: 1px 1px 5px 1px;
  margin: -1px -1px 0;
  position: relative;
}

.ev-heading-input-wrapper + .ev-heading-input-wrapper:hover::after {
  content: '(Click to edit)';
  font-size: .7em;
  color: var(--primary-color-light);
  position: absolute;
  right: 3px;
}
