/****
forms.css -- imports other files
****/

.ev-text-area {
  resize: none;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  border: 1px solid var(--primary-color-light);
  border-radius: 3px;
}

.ev-text-area:focus {
  background-color: var(--secondary-color-white);
}

.ev-text-upload {
  height: 90%;
}

.ev-drop-zone {
  height: 60%;
}

.ev-text-upload > h3 {
  text-align: center;
  font-size: 1.5em;
}

.ev-text-upload .submit {
  margin: -2.5em auto;
  position: relative;
  z-index: 1;
  display: block;
}

.ev-file-drop {
  height: 100%;
  width:100%;
  border: 1px dashed var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: #777;
}

.ev-url-input,
.ev-title-input {
  display: block;
  padding: 6px 3px;
  margin: 20px 0px;
  width: 100%;
  border: 1px dashed var(--primary-color-light);
  font-size: 1.3em;
  text-align: center;
}

.ev-title-input:focus::placeholder {
  visibility: hidden;
}

.ev-file-drop:hover,
.ev-url-input:hover,
.ev-title-input:hover {
  background-color: var(--secondary-color-white);
}

.ev-file-drop:hover {
  cursor: pointer;
}

.ev-text-upload-status {
  margin: 10px 0;
}

.ev-text-upload .tox-tinymce {
  display: none !important;
}

.ev-edit-title-input {
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  width: 100%;
  /* border: 1px solid transparent;*/
  padding: 1px;
}

.ev-edit-title-input:hover,
.ev-edit-title-input:active {
  outline: 1px dashed var(--primary-color-dark)
}

.ev-edit-title-input:focus {
  color: var(--primary-color-dark);
  outline: 1px solid var(--primary-color);
  box-shadow: inset 0 0 5px rgba(var(--raw-rgb-primary-color), 0.3);
}

.ev-heading-input-wrapper:first-child {
  float: left;
}

.ev-heading-input-wrapper + .ev-heading-input-wrapper {
  overflow: hidden;
  margin: -1px -1px;
  position: relative;
}

.ev-heading-input-wrapper + .ev-heading-input-wrapper:hover::after {
  content: '(Click to edit)';
  font-size: .7em;
  color: var(--primary-color-light);
  position: absolute;
  right: 3px;
}

/* Claims */

.ev-claim-create {
  padding: 5px;
  min-width: 500px;
}

.ev-claim-create h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  margin: -21px -20px 0;
  padding: 5px 10px 5px;
  position: sticky;
  top: -21px;
  background-color: white;
  border-bottom: 1px solid var(--primary-color-light);
}

.ev-claim-create h2 .ev-button {
  font-size: .7em;
}

.ev-claim-cancel-confirm {
  position: absolute;
  white-space: nowrap;
  right: 5.5em;
  font-size: .75em;
  z-index: 1;
  background: rgba(255,255,255,0.85);
  display: flex;
  align-items: center;
  padding-left: 5px
}

.ev-claim-cancel-confirm .ev-button {
  margin: 0 5px;
}

.ev-claim-settings {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
}

.ev-data-label:not(:last-of-type) {
  display: block;
  margin-bottom: 1em;
}

.ev-data-label > h4 {
  margin: 0 10px 0 0;
  float: left;
}

.ev-characters-remaining {
  padding-left: 5px;
  font-size: .7em;
}

.ev-explanation-control {
  font-size: .8em;
  padding: 3px;
  margin-bottom: -1px;
}

.ev-explanation-control:hover,
.ev-explanation-control.--show {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--primary-color-white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ev-explanation-control:hover {
  cursor: pointer;
}

.ev-data-explanation {
  display: grid;
  overflow: hidden;
  clear: left;
  font-size: .8em;
}

.ev-data-explanation.--unclicked {
  grid-template-rows: minmax(0,  0fr)
}

.ev-data-explanation:not(.--unclicked) {
  animation: hide-content;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  animation-direction: reverse;
}

.ev-data-explanation > p {
  margin: 0;
  padding: 6px;
  background-color: var(--primary-color-white);
}

.ev-data-explanation.--show {
  animation: show-content;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 200ms;
}


@keyframes show-content {
   0% {grid-template-rows: minmax(0,  0fr)}
  10% {grid-template-rows: minmax(0, .1fr)}
  20% {grid-template-rows: minmax(0, .2fr)}
  30% {grid-template-rows: minmax(0, .3fr)}
  40% {grid-template-rows: minmax(0, .4fr)}
  50% {grid-template-rows: minmax(0, .5fr)}
  60% {grid-template-rows: minmax(0, .6fr)}
  70% {grid-template-rows: minmax(0, .7fr)}
  80% {grid-template-rows: minmax(0, .8fr)}
  90% {grid-template-rows: minmax(0, .9fr)}
 100% {grid-template-rows: minmax(0,  1fr)}
}

@keyframes hide-content {
  /* matches show-content, but needs to change names
  in order to reset iteration count to 1 */
  0% {grid-template-rows: minmax(0,  0fr)}
 10% {grid-template-rows: minmax(0, .1fr)}
 20% {grid-template-rows: minmax(0, .2fr)}
 30% {grid-template-rows: minmax(0, .3fr)}
 40% {grid-template-rows: minmax(0, .4fr)}
 50% {grid-template-rows: minmax(0, .5fr)}
 60% {grid-template-rows: minmax(0, .6fr)}
 70% {grid-template-rows: minmax(0, .7fr)}
 80% {grid-template-rows: minmax(0, .8fr)}
 90% {grid-template-rows: minmax(0, .9fr)}
100% {grid-template-rows: minmax(0,  1fr)}
}

/* Arguments */

/* .ev-argument-group {
  position: relative;
} */

.ev-sup-reb {
  display: flex;
  justify-content: flex-end;
}

.ev-sup-reb input[type="radio"] {
  margin: 0 5px -.2em 10px;
}

.ev-form-split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ev-form-split .ev-group-heading {
  margin: 0 10px 5px 0;
  float: left;
}

.ev-form-split .ev-argument-group,
.ev-argument-add {
  margin: 10px;
  padding: 10px;
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 50%;
}

@media screen and (max-width: 750px) {
  .ev-form-split .ev-argument-group,
.ev-argument-add {
  margin: 10px;
  padding: 10px;
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 100%;
}
}

.ev-form-split .ev-data-label {
  clear: left;
}

.ev-argument-group,
.ev-argument-add {
  border: 1px solid var(--primary-color);
  border-radius: 12px;
}

.ev-argument-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  color: var(--primary-color-light);
  max-width: 100%;
}

.ev-argument-add:hover {
  cursor: pointer;
  color: var(--primary-color-dark);
  background-color: var(--secondary-color-white);
}

.ev-argument-add > * {
  text-align: center;
  margin: 0;
}

.ev-sup-reb label:not([readonly]):hover,
.ev-sup-reb label:not([readonly]):hover input {
  cursor: pointer;
}

.ev-sup-reb label[readonly]:hover,
.ev-sup-reb label[readonly]:hover input {
  cursor: not-allowed;
}

.ev-argument-delete {
  display: flex;
  justify-content: flex-end;
  margin: -15px -10px -10px 0;
}

.ev-argument-delete-confirm {
  display: flex;
  align-items: center;
}

.ev-argument-delete-confirm + .ev-icon {
  color: var(--primary-color-light);
}
.ev-argument-delete-confirm + .ev-icon.--hover-tilt:hover {
  cursor: not-allowed;
  transform: none;
}

.ev-argument-delete .ev-button {
  font-size: .7em;
  padding: 3px 6px;
  margin: 0 5px 0 20px;
}
