/****
global.css settings after normalizing
****/

html {
  height: 100%;
}

div,
input,
label {
  box-sizing: border-box;
}

.body {
  height: 100%;
  min-width: 250px;
}

p {
  font-size: 1.15em;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5em;
}

ul {
  padding-inline-start: 2em;
}

dt {
  font-weight: bold;
  margin-top: 5px;
}

dd {
  padding: 3px 0 6px;
  margin-inline-start: 2em;
}

a {
  color: var(--primary-color-dark);
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 0.5px var(--primary-color-dark);
}

/* Global "ev" name scoped selectors */
.ev-success {
  color: var(--success-color);
}

.ev-error {
  color: var(--error-color);
}

.--hide {
  display: none;
}

/* Icons */
.ev-icon {
  --base-transform: rotate(0);
  display: block;
  padding: var(--icon-padding);
  margin: var(--icon-margin);
  color: white;
}

*:focus {
  outline: none;
}

.do-focus-outline a:focus,
.do-focus-outline button:focus,
.do-focus-outline [tabindex]:focus,
.do-focus-outline *:focus > .ev-icon
 {
  outline: dotted;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--primary-color-dark);
}

.ev-icon.in-text {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0;
  margin:  0 .1em -.1em .1em;
  color: var(--primary-color);
}

.ev-icon.in-text.--stretch {
  --base-transform: scaleY(1.15);
  margin: 0 .1em;
  transform: var(--base-transform);
}

.ev-icon.--dark {
  color: var(--primary-color);
}

.--hide {
  display: none;
}

.ev-icon.loader {
  animation: rotate-loader 1s linear infinite;
}

@keyframes rotate-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ev-icon.in-text.add-item {
  height: .9em;
  width: .9em;
  margin: 0 .1em 0 .3em;
}

.ev-icon:hover {
  cursor: pointer;
}

*:not(.active) > .ev-icon.--hover-tilt:hover,
.--hover-sub-tilt:hover > .ev-icon.--sub {
  transform: var(--base-transform) rotate(15deg);
}

*:not(.active) > .ev-icon.--hover-flip:hover {
  transform: var(--base-transform) scaleX(-1);
}

.fa-layers .ev-icon.--lc {
  font-size: .5em;
  top: auto;
  bottom: 0;
  left: calc( var(--icon-padding) + 2px ) ;
  right: auto;
}

.active .ev-icon {
  color: #ccc;
  cursor: default;
}

/* Scroll Bar standards */

* {
/* The emerging W3C standard that is currently Firefox-only */
  scrollbar-width: 12px;
}
/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: var(--primary-color-light);
}

*::-webkit-scrollbar {
  width: 12px; /* vertical bar */
  height: 12px; /* horizontal bar */
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 6px;
  border: 1px solid rgba(204, 203, 203, 0);
  background-clip: padding-box;
}

/* Buttons */
.ev-button {
  color: white;
  display: inline-block;
  padding: 6px 12px;
  background: var(--button-primary-background);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

.ev-button.in-text {
  padding: 3px 6px;
  margin: -.2em 3px 0;
  font-size: .7em;
  top: -.2em;
}

.ev-button.icon {
  padding: var(--icon-button-padding);
  font-size: var(--icon-button-font-size);
  background: var(--icon-button-primary-background);
}

.ev-button:hover,
.ev-button:active,
.ev-button.icon:hover,
.ev-button.icon:active {
  cursor: pointer;
  color: var(--primary-color-white);
  background: var(--button-primary-background-hover);
}

.ev-button:active {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Inputs */
.ev-form-errors {
  color: var(--error-color);
}
form {
  font-size: 1.1em;
}

input {
  padding: 4px;
}


/* Modals */


.ReactModal__Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(var(--raw-rgb-secondary-color-light), 0.7);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  overflow: auto;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  min-width: 200px;
}

/* Works on Chrome/Edge/Safari */
.ReactModal__Content::-webkit-scrollbar {
  width: 12px; /* vertical bar */
  height: 12px; /* horizontal bar */
}
.ReactModal__Content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 1px solid rgba(204, 203, 203, 0);
  background-clip: padding-box;
}

.ReactModal__Content::-webkit-scrollbar-track,
.ReactModal__Content::-webkit-scrollbar-corner {
  background: var(--primary-color-white);
}
.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
}

.button.icon.ev-modal-close {
  --icon-button-padding: 0 1px;
  --icon-button-font-size: 1.5rem;
  --icon-margin: 4px;
  position: fixed;
  float: right;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.button.icon.ev-modal-close:active {
  top: 3px;
  left: auto;
  right: 1px;
}


.ev-confirm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 20%;
}

.ev-confirm > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.ev-confirm button {
  margin: 10px 5px;
  padding: 1em 1.5em;
}
