/****
structure.css -- works with site layout wrappers
****/

.ev-page-wrapper {
  height: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--lightest-white);
}

.ev-content-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [main-start] 65% [main-end sidebar-start] 35% [sidebar-end];
  overflow: hidden;
}

.ev-content-wrapper.--single-page {
  grid-template-columns: [main] 100%;
}

.ev-main {
  grid-column: main;
  padding: 0px 20px 10px;
  overflow: auto;
  border-right: 1px solid var(--primary-color-light);
  /* The emerging W3C standard that is currently Firefox-only */
  scrollbar-color:  var(--primary-color-dark) var(--primary-color-light);
}

.--single-page .ev-main {
  border-right: none;
}

/* Works on Chrome/Edge/Safari */
/*.ev-main::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.ev-main::-webkit-scrollbar-track,
.ev-main::-webkit-scrollbar-corner {
  background: var(--primary-color-light);
}

.ev-main::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}*/

.ev-main > header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--lightest-white);
  border-bottom: 3px solid var(--primary-color-dark);
  z-index: 1;
}

.ev-sidebar {
  grid-column: sidebar;
  margin-left: 3px;
  padding: 0 10px 10px;
  overflow: auto;
  background-color: var(--secondary-color-white);
  border-left: 1px solid var(--primary-color-light);
  /* The emerging W3C standard that is currently Firefox-only */
  scrollbar-color:  var(--secondary-color) var(--secondary-color-light);
}

.ev-sidebar::-webkit-scrollbar-track,
.ev-sidebar::-webkit-scrollbar-corner {
  background: var(--secondary-color-light);
}
.ev-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-dark);
}

.ev-sidebar-nav {
  position: sticky;
  top: 0;
  font-size: .8em;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color-white);
  z-index: 1;
  padding: 10px 0;
  border-bottom: 0.5px solid var(--primary-color-light);
}

/* Sets sidebar scroll position next to main's */
.ev-rtl {
  direction: rtl;
}
.ev-ltr {
  direction: ltr;
}

.ev-footer {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color-dark);
  background-color: var(--primary-color-light);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 5%, var(--primary-color-light) 15%, var(--primary-color-light) 85%, rgba(255, 255, 255, 0.5) 95%);
}

.ev-text-content {
  padding: 5px;
}

.ev-list-columns {
  display: flex;
  top: 0;
  position: sticky;
}

.ev-list-columns .ev-list {
  flex: 1 0 50%;
}

.ev-list {
  padding: 5px;
  top: 0;
  position: sticky;
}

.ev-list > header {
  top: 3.4em;
  position: sticky;
  background-color: var(--lightest-white);
}
